* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #fff;
}

body {
  background: #212c4f;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  margin: 0 auto;
  padding: 1em 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.header ul {
  list-style: none;
}

.header ul li {
  display: inline-block;
  margin: 0 1em;
}

.header ul a {
  font-weight: 400;
  text-decoration: none;
  color: #fff;
}

.header .notifications {
  color: #000;
  background: #54cff3;
  padding: 0 0.6em;
  border-radius: 100%;
  cursor: pointer;
}

.hero {
  position: relative;
  display: block;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../assets/Wallpaper.png);
  background-size: cover;
}

.hero::after {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100vh;
  background: #212c4f;
  z-index: -5;
}

.hero .featured-downloads {
  height: 70vh;
  background-size: cover;
  background: url(../assets/image.png);
  border-radius: 0.5em;
  -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);
}

.hero .featured-downloads .info {
  padding: 3em 2.5em;
}

.hero .featured-downloads .info h1 {
  font-size: 3em;
}

.hero .featured-downloads .info .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em 0;
}

.hero .featured-downloads .info .group p {
  font-weight: 400;
}

.hero .featured-downloads .info .group p:first-child {
  margin-right: 1em;
}

.hero .featured-downloads .info .text {
  font-weight: 400;
  width: 50%;
}

.hero .featured-downloads .info .btn {
  display: inline-block;
  text-decoration: none;
  margin: 2em 0;
  padding: 0.5em 1.5em;
  background: linear-gradient(93.96deg, #4b26ff 0%, #b01eff 100%);
  -webkit-box-shadow: 0px 10px 20px rgba(101, 41, 255, 0.15);
          box-shadow: 0px 10px 20px rgba(101, 41, 255, 0.15);
  border-radius: 30px;
}

.section-1 {
  background: #212c4f;
}

.popular {
  min-height: 100vh;
}

.popular h3 {
  padding-bottom: 2em;
}

.popular .grid {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  height: 100%;
  gap: 2em;
      grid-template-areas: "angle angle angle video" "epub wallpapers wallpapers wallpapers";
}

.popular .card {
  background: #161a39;
  padding: 2em;
  border-radius: 1em;
  -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);
}

.popular .card.small h3 {
  font-size: 1.5em;
}

.popular .angle {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: angle;
}

.popular .video {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: video;
}

.popular .epub {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: epub;
}

.popular .wallpapers {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: wallpapers;
}
/*# sourceMappingURL=main.css.map */